#fact {
    font-style: italic;
}



.info{
font-weight: bold;

}
#container{
    padding: 10px;
    border: 1px solid #000;
    text-align: center;
    width: 400px;
}
#card{
    padding: 10px;
    border: 1px solid #000;
}
#container img{
    width: 300px;
    display: block;
    margin:10px auto;
    
}
li{
list-style-type: none;

}
#interesting-fact{
    font-style: italic;
}